fieldset {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 40px;
    margin-bottom: 108px;
    border-radius: 10px;
    border: 1px solid #6b0000;
    background-color: #000000;
    padding: 20px;
    align-items: center;
    
}

body {
    background-color: #b3c8cf;
    color: white;
    font-size: 26px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background: linear-gradient(to top, #6b0000,10%, #000000);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
input.btn {
    background-color: #6b0000;
    color: #ffffff;
    font-size: 26px;
    border-radius: 5px;
    padding: 10px;
}

input.btn:hover {
    background-color: #ffffff;
    transition: 0.6s;
    color: #6b0000;
}

input.btn:active {
    background-color: #6b0000;
    transition: 0.4s;
}

input.input {
    font-size: 26px;
    width: 250px;
    border-left: none;
    border-right: none;
    border-top: none;
    background: transparent;
    border-color: #6b0000;
    color: #fff;
}

input.input:focus {
    outline: none;
}

.userinput {
    margin-left: 100px;
}

#showpassword {
    font-size: 20px;
}

legend {
    font-size: 30px;
    font-weight: bold;
    color: #6b0000;
}

.button {
    margin-left: 150px;
    margin-top: 50px;
}

#clear {
    margin-left: 200px;
}

.register {
    text-align: center;
}
#register {
    color: white;
    font-size: 26px;
    text-decoration: underline #6b0000 5px;
}
#register:hover {
    color: #6b0000;
    transition: 0.6s;
}

.icons {
    text-align: center;
    margin-top: 25px;
}

.icons a {
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
}

.icons a:hover {
    color: #6b0000;
    transition: 0.6s;
}

#account {
    font-size: 22px;
}

#visibility {
    margin-left: 20px;
    user-select: none;
    cursor: pointer;
}

#visibility:hover {
    color: #6b0000;
    transition: 0.6s;
}

#visibility:active {
    color: #c13d3d;
    transition: 0.2s;
}

#logo {
    font-size: 200px;
    color: #6b0000;
    margin-left: 38%;
    margin-bottom: 80px;
}

#login {
    margin-left: 130px;
    margin-top: 50px;
    font-size: 28px;
}
.closebtn {
    right: 25px;
    font-size: 50px;
    float:right;
    cursor: pointer;
    color: #6b0000;
    margin-top: 10px;
    text-decoration: none;
    margin-right:50px;
}