@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto+Slab:wght@900&family=Slabo+27px&display=swap");

body {
  color: white;
  font-size: 26px;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background: linear-gradient(to top, #6b0000, #000000);
  margin: 0;
}

.container {
  border-radius: 10px;
  border: 1px solid #6b0000;
  background-color: #000000;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 200px;
  margin-right: 100px;
  padding-right: 20px;
}

/* input.input {
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
  border-color: #6b0000;
  color: #fff;
  font-size: 26px;
  width: 250px;
}

input.input:focus {
  outline: none;
}

input.btn {
  background-image: linear-gradient(to bottom right, #6b0000, #000000);
  color: #ffffff;
  font-size: 26px;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  width: 10vh;
  height: 7vh;
  border: none;
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  transition: 0.6s;
}

input.btn:hover {
  background-image: linear-gradient(to top left, #6b0000, #000000);
  background-position: bottom right;
  color: red;
  transition: 0.6s;
}

input.btn:active {
  background-color: #ffffff;
  transition: 0.4s;
}

input#clear {
  margin-left: 200px;
}

legend {
  font-size: 48px;
  font-weight: bold;
  color: #6b0000;
}



form {
  margin-left: 300px;
  margin-right: 250px;
  font-size: 28px;
} */

#login {
  margin-bottom: 30px;
  background-color: #360000;
  color: white;
}

footer {
  background-color: #1a1c20;
  width: 100%;
  height: 390px;
  color: white;
  display: inline-block;
  font-size: 20px;
}

.footer-contact {
  text-align: center;
  font-size: 20px;
  margin-right: 200px;
}

.footer-contact h2 {
  font-size: 40px;
  color: #6b0000;
  margin-bottom: 20px;
  text-decoration: underline;
}

#bottom-bar {
  background-color: #000000;
  width: 100%;
  height: 50px;
  text-align: center;
  color: white;
  font-size: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #6b0000;
}

.info {
  display: inline-block;
  margin-left: 100px;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  display: inline;
}

.game label{
  font-size: 20px;
  margin-left: 20px;
}

.game h2 {
  text-align: center;
  text-decoration: #6b0000 underline;
}


#person {
  border-radius: 5px;
  border: 1px solid #6b0000;
  margin-top: 20px;
}

.game iframe{
  padding: 20px;
}

.left{
  color: white;
}
.right{
  color: white;
  margin-left: 20px;
}

.service-icon{
  font-size: 36px;
  border:#6b0000 solid 3px;
  border-radius: 15px;
  padding: 2px;

}
.service-icon:hover {
  color: #6b0000;
  transition: 0.4s;
  background-color: white;
}

.map {
  float: left;
  margin-left: 5%;
}

.personal-info {
  margin-left: 200px;
  margin-top: 50px;
  flex-direction: column;
  position: relative;
  padding-bottom: 20px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #6b0000, 5%, #000000);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  transition: 0.6s;
  color: #f1f1f1;
}

.sidenav a:active {
  color: white;
}

.sidenav #active {
  background-color: #6b0000;
  color: white;
}

.sidenav #active:hover {
  background-color: #440606;
}

.sidenav a:hover i {
  color: #830000;
  transition: 0.6s;
}

.sidenav #active:hover i {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav .closebtn:hover {
  color: #6b0000;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.header {
  text-decoration: underline;
}

.btn-opennav {
  position: sticky;
  top: 20px;
}

.header {
  text-decoration: underline red;
  text-align: center;
}

.primary-color {
  color: white;
}

.secondary-color {
  color: #d1d1d1;
}

.container h2 {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.fa-brands{
  font-size: 64px;
  color:white;
}

.fa-brands:hover{
  color:#830000;
  transition: 0.4s;
}

.information{
  margin-top: 100px;
}

.information-contact {
  text-align: center;
  font-size: 20px;
  margin-right: 100px;
  margin-top: 100px;
}

.gamelist table {
  padding: 50px;
  align-items: center;
  width: 100%;
  border:none;

}

.gamelist td {
  font-size: 30px;
  color: white;
  padding: 5px;
  text-align: center;
}